.userCard {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 9px;
  align-items: center;
}

.avatar {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.name {
  font-size: 16px;
  font-weight: bold;
}

.rate {
  font-size: 12px;
  font-weight: bold;
  opacity: 0.4;
}

.user-card-simple_tag {
  display: flex;
  flex-direction: column;
  line-height: normal;
}
