.embedMenu {
  position: relative;
  z-index: 0;
  display: inline-block;
  margin-right: auto;
}

.buttonIcon,
.trigger,
.iconImage {
  box-sizing: border-box;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  cursor: pointer;
  fill: #c4c4c4;
  transition: transform 0.3s ease, fill 0.2s ease, stroke 0.2s ease;
}

.buttonIcon svg {
  align-self: center;
  justify-self: center;
  fill: #c4c4c4;
  transition: fill 0.3s ease;

}

.buttonIcon:hover svg{
  fill: #767676;
}

.trigger {
  border: 2px solid #E8ECEC;
  border-radius: 50%;
  background: white;
}

.trigger:disabled {
  pointer-events: none;
  opacity: 0.3;
}

.trigger svg {
  width: 10px;
  height: 10px;
}

.triggerActive {
  transform: rotate(45deg);
}

.iconImage circle {
  stroke: #c4c4c4;
  transition: stroke 0.3s ease;
}

.iconImage:hover circle {
  stroke: #767676;
}

.iconImage:hover {
  fill: #767676;
}

.iconImage input {
  display: none;
}

.iconEmbed {
  fill: transparent;
  stroke: #c4c4c4;
}

.iconEmbed:hover {
  fill: transparent;
  stroke: #767676;
}

.iconEmbed svg,
.iconEmbed:hover svg {
  fill: none;
}

.mainItem {
  display: inline-block;
  vertical-align: middle;
  margin: 0 16px 0 0;
  position: relative;
  z-index: 9;
}

.item {
  display: inline-block;
  vertical-align: middle;
  margin: 0 16px 0 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  position: relative;
  left: -40px;
  opacity: 0;
}

.active {
  transform: translateX(40px);
  opacity: 1;
}

.item :global(.drop-zone_clip){
  right: 0;
}
