.userPick {
  position: relative;
  z-index: 0;
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
}

.userPick.stretch {
  width: 100%;
  height: 100%;
}

.userPick.organization {
  border-radius: 3px;
}

.userPick.organization img,
.userPick.organization svg {
  border-radius: 3px;
}

.userPick.shadow {
  box-shadow: 0px 1px 4px rgba(60, 68, 75, 0.13);
}

.userPick img,
.userPick svg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.userPick.owner:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -4px;
  right: -4px;
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #000000;
}
