.comment {
  position: relative;
  padding: 20px;
}

.comment:first-child {
  border-top: 1px solid #E7ECEC;
}

.comment[depth="1"] {
  padding-left: 64px;
}

.comment[depth="2"] {
  padding-left: 108px;
}

.comment:hover,
.comment.active {
  background: #F9F9F9;
}

.menu {
  position: absolute;
  top: 20px;
  right: 20px;
}

.editLeftTime {
  color: #c4c4c4;
}

.userCard {
  margin: 0 0 12px;
}

.content {
  padding: 0 0 0 44px ;
}

.gallery {
  margin: 0 0 12px;
}

.text {
  margin: 0 0 8px;
  font-size: 16px;
  line-height: 23px;
  word-break: break-word;
  white-space: pre-wrap;
}

.actions {
  display: flex;
  align-items: center;
}

.reply {
  margin: 0 14px 0 0;
  font-size: 14px;
  cursor: pointer;
  color: #D8352F;
}

.reply:hover {
  text-decoration: underline;
}

.date {
  flex: 1 1 auto;
  font-size: 12px;
  color: rgba(0,0,0,0.6);
}

.embed {
  margin: 0 0 20px;
}

.limit {
  font-size: 12px;
  color: #000000;
  opacity: 0.6;
}
