.badge {
  display: inline-block;
  box-sizing: border-box;
  padding: 2px 8px;
  font-size: 14px;
  line-height: 1.28;
  border-radius: 2px;
  text-align: center;
  white-space: nowrap;
  background: #FC9F31;
  color: #fff;
}

.green {
  background: #40C58B;
}

.strech {
  width: 100%;
}

.gray {
  background: #ccc;
}
