.wrapper {
  display: inline-block;
  outline: none;
}

.wrapper.strech {
  width: 100%;
}

.button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 48px;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  border: 1px solid #585858;
  border-radius: 4px;
  background: transparent;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  color: #000;
  transition: border-color 0.2s ease, background 0.2s ease, color 0.2s ease, opacity 0.2s ease;
}

.button:hover {
  border-color: #000;
  text-decoration: none;
}

.button.grayBorder {
  border-color: #ddd;
}

.button.grayBorder:hover {
  border-color: #000;
}

.button.redBorder {
  border-color: #D8352F;
  color: #D8352F;
  background: #fff;
}

.button.redBorder:hover {
  border-color: #C32924;
  color: #C32924;
  background: #fff;
}

.button.red {
  border-color: #D8352F;
  background: #D8352F;
  color: #fff;
}

.button.red:hover {
  border-color: #C32924;
  background: #C32924;
}

.button.transparent {
  border-color: transparent;
}

.button.transparent:hover {
  border-color: transparent;
  color: #D8352F;
}

.button.disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

.button.cap {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.06em;
}

.button.big {
  height: 60px;
}

.button.small {
  height: 40px;
  padding: 0 15px;
}

.button.rounted {
  border-radius: 100px;
}

.inner {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}
