.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 640px;
  background: rgba(0,0,0,0.05);
}

@media (max-width: 767px) {
  .cover {
    height: 200px;
  }
}

.cover img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
