.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 1023px) {
  .container {
    padding: 0 20px;
  }
}

.postsGrid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 1024px) {
  .postsGrid {
    grid-template-columns: repeat(6, 1fr);
  }

  .postsGrid [data-index="0"] {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .postsGrid [data-index="1"] {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .postsGrid [data-index="2"] {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .postsGrid [data-index="3"] {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .postsGrid [data-index="4"] {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .postsGrid [data-index="0"] {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (max-width: 767px) {
  .postsGrid {
    grid-template-columns: 1fr;
  }

  .post .title {
    margin: 0 0 8px !important;
    font-size: 18px !important;
  }

  .post .content {
    padding: 23px 30px !important;
  }
}

.post {
  position: relative;
  padding-top: 62%;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(184, 184, 184, 0.35);
}

.post.withCover {
  background: #000;
  color: #fff;
}

.post.withCover .title {
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
}

.post.withCover .rate {
  color: #fff;
}

.post.withCover .user {
  color: #fff;
}

.post.withCover .count {
  color: #fff;
  stroke: #fff;
  fill: none;
}

.post.withCover .cover:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(36, 38, 41, 0.46), rgba(36, 38, 41, 0.46));
  opacity: 1;
  transition: opacity 0.5s ease;
}

.post.withCover:hover .cover:after {
  opacity: 0.8;
}

.post.withCover:hover .cover img {
  transform: scale(1.025);
}

.post:hover .footer {
  opacity: 1;
}

.post.small .title {
  margin: 0 0 8px;
  font-size: 18px;
}

.post.small .content {
  padding: 23px 30px;
}

.post.medium .title {
  margin: 0 0 11px;
  font-size: 28px;
}

.cover {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  overflow: hidden;
}

.cover img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
  transform: none;
  transition: transform 0.5s ease;
}

.inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  z-index: 0;
}

.rate {
  position: absolute;
  top: 23px;
  right: 32px;
  font-size: 18px;
  font-weight: bold;
  color: #585858;
}

.content {
  box-sizing: border-box;
  width: 100%;
  padding: 30px 40px;
}

.title {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  max-height: 2.5em;
  overflow: hidden;
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.25;
  color: #000;
}

.user {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 6px;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  color: rgba(0,0,0,0.7);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.71;
  transition: opacity 0.2s ease;
}

.count {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-gap: 6px;
  font-size: 12px;
  font-weight: bold;
  color: rgba(88,88,88,0.71);
  stroke: rgba(88,88,88,0.71);
  fill: none;
}

.link {
  text-decoration: none;
  transition: opacity 0.2s ease;
}

.link:hover {
  text-decoration: none;
}

.data {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  grid-gap: 20px;
}
