.wrapper {
  box-sizing: border-box;
  margin: auto;
  padding: 40px;
  pointer-events: none;
}

@media (max-width: 767px) {
  .wrapper {
    padding: 4px;
    width: 100%;
  }

  .wrapper.screen {
    padding: 0;
  }
}

.wrapper.fullHeight {
  height: 100%;
}

.wrapper.fullHeight > .content {
  min-height: 100%;
}

.wrapper.fullWidth {
  width: 100%;
}

.wrapper.fullWidth > .content {
  width: 100%;
}

.wrapper.screen {
  padding: 0;
}

@media (max-width: 1279px) {
  .wrapper.fixWidth {
    width: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  box-shadow:  0px 0px 20px rgba(184, 184, 184, 0.25);
  background: #fff;
  border-radius: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: initial;
}

.content.active {
  opacity: 1;
}

.content.roundBorders {
  border-radius: 12px;
}

.content.fixWidth {
  width: 1200px;
}

@media (max-width: 1279px) {
  .content.fixWidth {
    width: 100%;
  }
}

.content.walletAction {
  width: 540px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .content.walletAction {
    width: 100%;
  }
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.close .text {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.12em;
  color: #505050;
  transition: color 0.2s ease;
}

.close .text:hover {
  color: #000;
}

.icon {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
}
