.container {
  position: relative;
  margin: -40px 0 0;
  padding: 122px 0 30px 0;
}

.title {
  position: absolute;
  top: 15px;
  left: 0;
  display: flex;
  font-size: 144px;
  font-weight: bold;
  letter-spacing: -0.02em;
  color: rgba(0,0,0,0.03);
  line-height: 1;
  white-space: nowrap;
  pointer-events: none;
}

.title .item {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1s ease;
  opacity: 0;
}

.title .item.active {
  opacity: 1;
}

.title .inner {
  position: relative;
}

.title .left {
  position: absolute;
  right: 100%;
  text-align: right;
}

.title .right {
  position: absolute;
  left: 100%;
  text-align: left;
}

.tabs {
  display: flex;
  margin: 0 -15px;
  line-height: 1.3;
  font-size: 18px;
  font-weight: bold;
}

.tabs .item {
  margin: 0 15px;
}

.tabs .link {
  cursor: pointer;
  color: rgba(0,0,0,0.3);
  transition: color 0.2s ease;
  outline: none !important;
}

.tabs .link .text {
  outline: none !important;
}

.tabs .item.offers {
  flex: 1 1 auto;
  text-align: right;
}

.tabs .item.disabled .link {
  cursor: default;
}

.tabs .item.active:not(.disabled) .link,
.tabs .item:not(.disabled) .link:hover {
  color: #000;
}
