.header {
  display: flex;
  align-items: center;
  margin: 0 0 16px 0;
  line-height: 16px;
}

.info {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-gap: 10px;
  align-items: center;
  margin: 0 10px 0 0;
  font-size: 12px;
  color: rgba(0,0,0,.6);
}

.org {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-gap: 6px;
  align-items: center;
}

.user {
  margin-bottom: 20px;
}

.dropdown {
  margin-left: auto;
}

.leftTime {
  color: #C4C4C4;
}

.limit {
  font-size: 12px;
  color: #000000;
  opacity: 0.6;
}
