.content {
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.content.small {
  max-width: 1040px;
}

@media (max-width: 767px) {
  .content {
    padding: 0 20px;
  }
}
