.content {
  display: flex;
  padding: 80px 100px;
  justify-content: space-between;
  background: #fff;
}

.textBlock {
  max-width: 600px;
  width: 100%;
  margin-right: 20px;
}

.sidebar {
  min-width: 280px;
  width: 300px;
  height: 750px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  position: sticky;
  top: 80px;
}

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

@media(max-width: 1023px) {
  .content {
    padding: 80px 20px;
  }
}

@media(max-width: 900px) {
  .content {
    padding: 30px 0px;
    flex-wrap: wrap;
  }

  .textBlock {
    order: 2;
  }

  .sidebar {
    order: 1;
    position: relative;
    top: auto;
    height: auto;
  }

  .container {
    background: #fff;
  }
}

@media(max-width: 414px) {
  .textBlock {
    margin-right: 0;
  }
}