.voting {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  grid-gap: 15px;
  align-items: center;
  padding: 13px 17px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: -0.03em;
  line-height: 1;
  transition: background 0.2s ease;
  outline: none !important;
  cursor: pointer;
}

.voting:hover,
.voting.loading {
  background: rgba(80, 80, 80, 0.03);
}

.voteBtn {
  position: relative;
  width: 16px;
  height: 16px;
  fill: #C4C4C4;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.voteBtn:hover {
  opacity: 0.7;
}

.voteBtn svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.value {
  position: relative;
  color: #585858;
  cursor: pointer;
  text-align: center;
}

.rate,
.count {
  display: block;
  opacity: 1;
  transition: opacity 0.7s ease;
}

.rate {
  opacity: 0;
  margin: -1em 0 0;
}

.voting:hover .rate {
  opacity: 1;
}

.voting:hover .count {
  opacity: 0;
}

.voting.loading .rate,
.voting.loading .count {
  opacity: 0;
}

.up {
  color: #7ABE5A;
  fill: #7ABE5A;
}

.down {
  color: #D8352F;
  fill: #D8352F;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -8px 0 0 -8px;
  z-index: -1;
  opacity: 0;
}

.voting.loading .spinner {
  z-index: 1;
  opacity: 1;
}
