.form {
  margin: 0 -20px;
}

.cover {
  margin-bottom: 20px;
}

.cover img {
  display: block;
  max-width: 100%;
}

.content {
  flex: 1 1 auto;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  white-space: pre-wrap;
  margin-bottom: 20px;
  word-wrap: break-word;
  word-break: break-word;
}


.content span {
  max-width: 100%;
}
.showMore {
  color: #D8352F;
}

.showMore:hover {
  text-decoration: underline;
  cursor: pointer;
}

.embed {
  margin: 0 0 20px;
}
