.airdrop {
  margin-bottom: 40px;
}

.rateVote {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.rate {
  margin: 0 0 4px;
  font-size: 24px;
  font-weight: 700;
}

.status {
  font-weight: bold;
  font-size: 16px;
  line-height: normal;
  color: #000000;
  display: flex;
  margin-bottom: 20px;
}

.status span {
  font-weight: normal;
  font-size: 16px;
  line-height: normal;
}

.statusPending {
  color: #FFBD3C;
}

.statusReceived {
  color: #40C58B;
}

.statusError {
  color: #D8352F;
}

.statusErrorText {
  font-size: 16px;
  line-height: normal;
  display: inline;
}

.statusErrorText a {
  font-weight: bold;
  font-size: 16px;
  line-height: normal;
}

.statusErrorText svg {
  display: inline-block;
  padding-top: 3px;
  margin-right: 3px;
  box-sizing: border-box;
  text-decoration: none;
}

.statusIcon {
  margin-left: 15px;
  margin-right: 8px;
}

.tokens {
  display: flex;
}

.tokensColumn {
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.tokensColumn:last-child {
  margin-right: 0px;
}

.tokenNumber {
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  color: #1B1E1E;
  word-break: initial;
}

.tokenCurr {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #767676;
}

.condition {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.optionStatus {
  margin-right: 12px;
}

.conditionTitle {
  font-weight: bold;
  font-size: 16px;
  line-height: normal;
  color: #000000;
  margin-bottom: 25px;
}

.option {
  display: flex;
  margin-bottom: 20px;
}

.option:last-child {
  margin-bottom: 0;
}

.optionBlock {
  display: flex;
  flex-direction: column;
}

.optionTitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 5px;
}

.optionTitle:hover {
  color: #D8352F;
  cursor: pointer;
  text-decoration: none;
}

.optionText {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.created {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 40px;
}

.created span {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
}

.share {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 110px;
  position: relative;
}

.share > span {
  margin-left: 10px;
  font-weight: normal;
  font-size: 16px;
  line-height: normal;
  color: #000000;
}

.socialIcons {
  display: flex;
  margin: 8px 0 0px;
}

.icon {
  margin-right: 8px;
  text-decoration: none;
}

@media only screen and (max-width: 1023px) and (min-width: 901px) {
  .tokens {
    flex-wrap: wrap;
  }

  .tokensColumn {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 375px) {
  .tokens {
    flex-wrap: wrap;
  }

  .tokensColumn {
    margin-bottom: 10px;
  }
}