:global(.medium-post-placeholder) {
  position: relative;
}

:global(.medium-post-placeholder:before) {
  position: absolute;
  display: block;
  color: rgba(0,0,0,0.3);
  cursor: text;
  transition: opacity 0.3s ease;
}

:global(h1.medium-post-placeholder:not(.active-buttons):before) {
  content: 'Title';
}

:global(h2.medium-post-placeholder:not(.active-buttons):before) {
  content: 'Lead text';
}

:global(p.medium-post-placeholder:not(.active-buttons):before) {
  content: 'Text';
}
