.wrapper {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.header {
  text-transform: uppercase;
  font-size: 12px;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.6);
}

.header .cell {
  border-bottom: 1px solid #E8ECEC;
}

.body .row:hover {
  background: #F8F8F9;
}

.row {
  transition: background 0.2s ease;
}

.cell {
  padding: 20px;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 0;
}

.cell.right {
  text-align: right;
}

.cell.sortable {
  cursor: pointer;
}

@media (max-width: 767px) {
  .cell.hideOnSmall {
    display: none;
  }
}

.sort {
  display: inline-block;
  vertical-align: middle;
}

.sort .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}

.sort .icon.reverse {
  transform: rotate(180deg);
}
