:global(.medium-upload) {
  position: absolute;
  display: flex;
  margin: -3px 0 0;
  opacity: 0;
  transition: opacity 0.1s ease;
  align-items: center;
}

:global(.medium-upload_visible) {
  opacity: 1;
}

:global(.medium-upload_active .medium-upload__trigger) {
  transform: rotate(45deg);
}

:global(.medium-upload_active .medium-upload__list) {
  display: flex;
}

:global(.medium-upload__trigger) {
  position: relative;
  left: -20px;
  margin: 0 0 0 -36px;
  transition: transform 0.1s ease;
}

:global(.medium-upload__list) {
  display: none;
}

:global(.medium-upload__item) {
  margin: 0 10px 0 0;
}

:global(.medium-upload__item_survay) {
  display: none;
}

:global(.medium-upload__button) {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: 2px solid #e8ecec;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  fill: #c4c4c4;
  transition: opacity 0.1s ease;
}

:global(.medium-upload__button:hover) {
  opacity: 0.5;
}

:global(.medium-upload__icon) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  fill: none;
  cursor: pointer;
  transition: opacity 0.1s ease;
}

:global(.medium-upload__icon:hover) {
  opacity: 0.5;
}

:global(.medium-upload__icon input) {
  display: none;
}

:global(.medium-upload-iframe-wrapper),
:global(.medium-insert-embeds) {
  position:relative;
  left: 0;
  width: 100%;
  height: 0;
  margin: 0 0 16px;
  padding-bottom:  56.2493%;
}

:global(.medium-upload-iframe-wrapper iframe),
:global(.medium-insert-embeds iframe) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
